# Terraform ignores
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup

# Variable definition files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override_*.tf

# Terraform CLI configuration file
.terraformrc

# IDE-specific files (common)
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db